body {
  background: #bfc9ca;
  padding-top: 80px;
  padding-bottom: 20px;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

h2{
  color: #5a0052;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #ffffff;
}

/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  color: #fff;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #77777;
  border-top: 1px solid #ffffff;
}

/* Customize container */
@media (min-width: 768px) {
position: relative;
  float: right;
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.item
{
height: 120px;
width: 120px;
background: #d87b76;
margin: 5px;
float: left; 
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.item img
{
height: 110px;
width: 110px;
padding-top: 6px;
border: none;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  height: 600px;
  border-bottom: 1px solid #77777;
  overflow:scroll;
}
.jumbotron .btn {
  font-size: 10px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}




